{% extends 'layout.html.twig' %}

{% block title %}

	{# pour affichage dynamique du nom de la page dans les onglets #}
	{% if app.request.get('_route') == "admin_ajout_vehicule" %}
		Ajout d'un véhicule
	{% endif %}

	{% if app.request.get('_route') == "admin_update_vehicule" %}
		Modification d'un véhicule
	{% endif %}

{% endblock %}

{% block content %}
	{# pour affichage dynamique des titres H1 ... #}
	{% if app.request.get('_route') == "admin_ajout_vehicule" %}
		<h1>Ajout d'un véhicule</h1>
	{% endif %}

	{% if app.request.get('_route') == "admin_update_vehicule" %}
		<h1>Modification d'un véhicule</h1>
	{% endif %}

	{# ... du formulaire #}
	{{ form(formVehicule) }}
{% endblock %}

{# ====== dropify script [qui ne fonctionne pas] ======= #}
{% block final_js %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src=" {{ asset(" dropify/dist/js/dropify.min.js") }}"></script>
		<script>
			$(document).ready(function () { 
            // Basic
            $('.dropify').dropify();

// Translated
$('.dropify-fr').dropify({
messages: {
default: 'Glissez-déposez un fichier ici ou cliquez',
replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
remove: 'Supprimer',
error: 'Désolé, le fichier trop volumineux'
}
});

// Used events
var drEvent = $('#input-file-events').dropify();

drEvent.on('dropify.beforeClear', function (event, element) {
return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
});

drEvent.on('dropify.afterClear', function (event, element) {
alert('File deleted');
});

drEvent.on('dropify.errors', function (event, element) {
console.log('Has Errors');
});

var drDestroy = $('#input-file-to-destroy').dropify();
drDestroy = drDestroy.data('dropify')
$('#toggleDropify').on('click', function (e) {
e.preventDefault();
if (drDestroy.isDropified()) {
drDestroy.destroy();
} else {
drDestroy.init();
}
})
});
</script>
{% endblock %}

{# ====== FIN dropify script ======= #}

